[2013-12-07 16:03] JamesKyburz opened #3 "ie8 parses test results incorrectly"
https://github.com/substack/tap-parser/blob/master/index.js#L63

fails because skip is never undefined but an empty string....

sane browser:/^(\d+)..(\d+)\b(?:\s+#\s+SKIP\s+(.*)$)?/.exec('1..2') // => ["1..2", "1", "2", undefined]

mad browser: /^(\d+)..(\d+)\b(?:\s+#\s+SKIP\s+(.*)$)?/.exec('1..2') // => ["1..2", "1", "2", ""]

[2013-12-07 19:27] #3 closed, assigned to nobody

[2014-01-11 08:04] af opened #7 "Feature: add 'extra' attribute to parsed output, for tests that have extra lines below them"
Currently if there are extra lines after an assertion, they are not present in the parsed output at all. For some applications this info (like the detailed error info that `tape` provides after a "not ok" line) is really useful, so it would be great if `tap-parser` included it in the parsed output by default (in addition to the 'extra' events).

The basic idea is that this TAP input:

[code]

Woul

[2014-03-03 00:47] #7 closed, assigned to nobody

[2014-04-10 20:20] ericedem opened #11 "Assertion numbers shouldn't be mandatory"
According to spec http://testanything.org/tap-specification.html:

"TAP expects the ok or not ok to be followed by a test point number. If there is no number the harness must maintain its own counter until the script supplies test numbers again. So the following test output"

For example, this output should be valid:

[code]

[2014-04-10 23:14] #11 closed, assigned to nobody

[2014-07-25 21:44] malandrew opened #14 "Comments lost in results object"
Looking at how https://github.com/isaacs/node-tap/blob/master/lib/tap-producer.js works, it handles comments just fine when encoding. tap-parser however is lossy with respect to comments. For example, the lines  `# beep` and `# boop` in the README example are lost.

Obviously it makes no sense to add comments to the `asserts` property, however, it would be nice to maybe have another array property

[2015-03-12 00:54] isaacs commented on #14
As of v1, the results object contains less info, but there are events throughout so that you can easily listen and re-constitute in order now if you'd like.

[2015-03-12 00:54] #14 closed

[2015-05-04 14:39] anko opened #18 "Comment/assert events are emitted in the wrong order if interleaved"
Testcase:

`cat test.tap`:

[code]

`./bin/cmd.js < test.tap | grep -v line` (grep removes `line` events):

[code]

I expected this to parse as `version comment assert comment assert plan complete`.

This happens with any number of comment-test pairs, but only if comments and tests are interleaved as single copies. This also happens when using this module via `require`.

- - -

The `line` events h

[2015-05-30 14:53] simov commented on #18
Same here - [gist to reproduce it](https://gist.github.com/simov/c56e24e419d509d8951a) `tape@4.0.0` + `tap-parser@1.1.4`

I'm using substack's `tape` as tap producer instead of `tap` as a lot of tap reporters for `tape` are using `tap-parser` internally. No luck for me however.

[code]

[code]

[2015-05-30 17:00] isaacs commented on #18
See the explanation and options here: https://github.com/substack/tap-parser/pull/19#issuecomment-107064904

[2015-06-01 00:46] #18 closed

[2015-06-08 21:13] Raynos opened #22 "Writing a more detailed specification for TAP in node"
Currently the TAP specification defines a bunch of semantics but it's missing a few things
- What are comments and how do they work
- What is inside yaml blocks

It would be great to define more semantics so we can write smarter tooling.

My personal interests in these a spec are two fold
- Getting tools like https://www.npmjs.com/package/tap-difflet to work on both tape and tap.
- Writing a bette

[2015-06-08 21:24] isaacs commented on #22
+1.  Not sure if we should create a separate GH org or repo for this, but here's the general thinking behind the current tap-parser behavior:

1. Start with the [current TAP specification version 13](https://testanything.org/tap-specification.html)
2. Add `Test::More` style indented subtests.  This is logically simpler for representing subtests than juggling the plan and test numbers weirdly.  It

[2015-06-08 21:25] isaacs commented on #22
Oh, last but not least, a plan or bailout is ALWAYS required.  So, `console.log('ok')` is no longer sufficient TAP output.  You'd have to do `console.log('ok\n1..1')` at least.

[2015-06-08 21:38] Raynos commented on #22
A program that outputs

[code]

and exits non-zero should be valid TAP output. This is a failing test and TAP parsers should have a way of dealing with this as a failing test.

We could simply state that a program that exits non-zero should be interpret as `not ok\n1..1` and it's STDOUT should be ignored.

[2015-06-08 21:41] Raynos commented on #22
@isaacs

the rest of your suggestions seem fine on the surface.

[2015-06-08 22:14] anko commented on #22
@Raynos

Let's not get this text protocol confused with an operating system API.

- If you pipe a TAP-producing program to a TAP consumer, the consumer won't know what error code the producer closed with. It might even still be running and just have `fclose`'d its output streams.
- TAP can be produced from environments that have no notion of a process, such as from a browser.

[2015-06-08 22:38] Raynos commented on #22
@anko @isaacs

I think you guys are correct; I'm confusing operating concerns that are unique to programs spawning child processes and have nothing to do with valid TAP.

Determining whether tests pass is a combination of "did the program succeed" and "does the TAP output claim the tests passed".

[2015-06-08 22:47] isaacs commented on #22
@Raynos In the `require('lol')` case, you're specifying the behavior of a harness that runs tap-emitting test processes, not the behavior of a parser.

Node-tap, for example, treats ANY non-zero exit code as a failure, *even if all the test points in the stdout passed*.  For example:

[code]

That's not to say we *shouldn't* specify these things, but just that they should be specified separately.

[2015-06-08 23:00] isaacs commented on #22
@Raynos So, I guess what I'm saying is, a stream containing 0 asserts and no plan should be treated like `1..0` (a skipped test set), not like `ok\n1..1`.

[2015-06-08 23:01] isaacs opened #23 "A plan of 1..0 with 1 or more asserts should be a failure"
This is not proper TAP, but the parser allows it:

[code]

It should complain that the plan (0) doesn't match the number of tests found.

[2015-06-08 23:27] Raynos commented on #22
@isaacs

If you consider `node test-program.js | my-tap-harness` it would not be able to determine whether the tests passed or failed because piping does not have a good way of dealing with STDERR and exit codes.

I think this is my confusion in my previous comment.

[2015-06-09 00:40] isaacs commented on #22
Yep, bingo.

But just to hopefully clarify my point: the confusion is relevant.  Any spec we write should probably have some tips for test harnesses to treat a non-0 exit code as a failure *even if the stdout indicates success*.  This wouldn't be part of the protocol specification, though.

[2015-06-10 13:20] vvo opened #24 "Parser events only sent on next write()"
Every event like `assert` is only sent when the parser has received the next line.

This is somehow strange because when building tools like reporters, if a test finishes then
you get a `comment` event only when the first `assert` of the next test is parsed.

Thus resulting in things like this:

console output (tape):
![2015-06-10-152412_345x237_scrot](https://cloud.githubusercontent.com/assets/12

[2015-06-10 23:50] isaacs commented on #24
Right, that's because an assert can be more than one line.

[code]

[2015-06-10 23:50] #24 closed

[2015-06-11 05:29] vvo commented on #24
So if I want to build something like a streaming tap parser/reporter, this current project is not my solution.

[2015-08-09 00:19] anko opened #25 "Bailout event emitted before the assert just before"
#18-related?

[SSCCE](http://sscce.org/):

`index.js` (marked executable):

[code]

Run it with input:

[code]

Expected output:

[code]

Actual output:

[code]

[2015-11-07 12:45] keithamus commented on #22
I'm going to drag up this discussion because I'd definitely like to see a more detailed TAP spec.

This seems, to me, like it would be best as diagnostic information on all tests. For example:

[code]

While this would increase the length of standard TAP output, but it is diagnostic information, and the yaml blocks are for diagnostic information. This keeps the status directive space clear, and co

[2015-11-10 19:40] isaacs commented on #22
I think adding a diff format like that would be deeply problematic, because it isn't valid YAML.

[code]

[2015-11-10 22:30] keithamus commented on #22
Well, yaml is actually a pretty flexible format. So yes - while my specific example was invalid (because I'm not fluent in the format) this one is:

[code]

As long as the indentation level is kept then any character is valid.

[2015-11-10 22:35] isaacs commented on #22
Well... not ANY character, but sure, what you're now proposing is that a diff be presented as a multi-line string (and this can be either `|` or `>` or double-quoted, with or without the `-` or `+`).

You can do that now, but I think given that "diff" is such a multi-faceted thing, it might be better to just let the fanciness live in the reporter?  It's not at all clear how to diff objects, and so

[2015-11-10 23:11] keithamus commented on #22
Yup - absolutely. However by providing one universal format (a unified diff), formatters (i.e. things that consume tap and output fanciness like human readable spec reports, or HTML) can optimise for those cases where needed. Diffs can be parsed into `<u><li class="del">...` or just ANSI escape codes. If people want side by side, great, unified diffs support that. Hell, if people want a TAP GUI cl

[2016-03-20 04:17] jamestalmage commented on #25
I agree, this is weird behavior.

[2016-03-21 01:07] jamestalmage opened #27 "Remove trailing newline from strings."
I propose we strip trailing newline characters from the following event strings:

- `line` ([example](https://github.com/tapjs/tap-parser/blob/72b12df8e7dd90febda6abe9c9bf8dd712a1e640/test/fixtures/combined.json#L13-L16)
- `comment` ([example](https://github.com/tapjs/tap-parser/blob/72b12df8e7dd90febda6abe9c9bf8dd712a1e640/test/fixtures/comment-mid-diag-postplan.json#L6-L9))
- `extra` ([example](

[2016-04-06 22:58] Jameskmonger opened #28 "results.failures is undefined if there are no failures"
When running a group of tests with 4 assertions, all of which pass, the following listener gives an output I wouldn't expect:

    input.on('complete', function (results) {
        console.log(results);
    });

Results here is:

    { ok: true, count: 4, pass: 4, plan: { start: 1, end: 4 } }

Whereas if one of the tests failed, it would be:

    { ok: true, count: 4, failures: [ array of failures

[2016-07-02 09:59] bySabi opened #31 "[proposal] Set module major version to TAP protocol version"
To developers:
  [tap-parser](https://github.com/tapjs/tap-parser): @substack @isaacs
  [karma-tap](https://github.com/tmcw-up-for-adoption/karma-tap): @tmcw @bysabi
  [karma-tap-reporter](https://github.com/fumiakiy/karma-tap-reporter) [karma-tape-reporter](https://github.com/terinjokes/karma-tape-reporter): @fumiakiy @terinjokes

Hi all!

I was trying to improve the work of @tmcw on 'karma frame

[2016-07-02 15:24] anko commented on #31
I don't think we should do this.

Modules need to be able to increment their own major version independently of their dependencies. For example, if tap-parser decides to change its API, it would need to increment its major semver. It might need to do this many times. That _must_ be independent of TAP's semver.

It seems the root problem you're trying to solve is that it's impossible to tell progra

[2016-07-02 15:51] bySabi commented on #31
Yes, I cannot pass TAP version from parser upto final destination, `karma-tap-reporter`.
You are probably right @anko and parser must stay on current semver but for packages with not subtle to change API´s like karma-tap, karma-tap-reporter, karma-tape-reporter could be fine.

[2016-07-03 00:23] isaacs commented on #31
Yeah, this isn't the first time this idea has been floated.  It's an intuitively appealing idea which seems to make a sort of sense at first, but we're not gonna do this.

The version of the parser is not entirely dependent on the version of the protocol that it parses.  That's just one factor.  A parser takes as input the protocol, provides some programmatic interface, and has a consumable logica

[2016-07-03 00:23] #31 closed

[2016-07-03 07:36] bySabi commented on #31
@isaacs can you add current parser protocol version to a README section?
This could be help.

[2016-08-09 06:28] jtlapp opened #34 "Dropped exceptions in assert event handlers"
This is curious. When the handler for an 'assert' event throws an exception, `tap-parser` does not immediately throw an exception. Instead, it emits this exception in the next 'assert' event, naming the assertion as the `toString()` of the exception. `tap-parser` only itself throws an exception if this next call to the 'assert' handler again throws an exception. There is also at least one scenario

[2016-08-09 11:50] jtlapp commented on #34
If the 'complete' event handler throws an exception, `tap-parser` also terminates throwing that exception. For consistency, it seems that the same should happen for 'assert'. Besides, if the 'assert' handler fails on its first call, it shouldn't be trusted to succeed on its next call.

[2016-08-09 16:57] isaacs opened #35 "Parse Perl's Test2 "buffered" output"
prerequisite of https://github.com/tapjs/node-tap/issues/277

See https://metacpan.org/pod/Test2::Tools::Subtest#BUFFERED

[2016-08-09 20:51] isaacs commented on #34
Can you please clarify what input you're feeding into the parser, what output you're seeing out of it, and what you think it should do instead?

It's not clear to me what you mean with your comments about "throwing an exception".  Do you mean that the event handler literally throws an exception?  I really would love to get a failing test or something out of this.

[2016-08-09 20:56] isaacs commented on #28
Fixed by #30

[2016-08-09 20:56] #28 closed

[2016-08-09 21:37] jtlapp commented on #34
Okay, adding tests now. But I'm laughing. I just noticed that you're using `tape` to test the fixtures, instead of `tap`. I originally built my tool on top of `tape` but found it too fragile a dependency. You're fine because you're using `glob` synchronously. `tape` does not properly wait for all tests to run before deciding that the run is done, making it unreliable with `bin/tape`.

[2016-08-09 22:59] isaacs commented on #34
ah, yeah, that's a relic.  Updated in dc7041514b123fc18118ccd7cadceb6225781ba6 to use tap everywhere instead, since it's functionally equivalent and just saves a dep.

[2016-08-09 23:00] isaacs commented on #34
When I say "add a test", I don't mean necessarily "add a test to this repo" if that's a challenge for you.  Even just a gist that you can point to and say "this does X and I expect it to to Y" would be fine.

[2016-08-09 23:04] jtlapp commented on #34
I've been working on a test I could PR, but it's looking like the only way to watch for the process throwing an exception is to catch the stderr output. It cannot be done with `process.once('uncaughtException', cb)`. It was possible in earlier versions, but the `node` folks decided that there was no use case that merited suppressing exceptions.

[2016-08-09 23:07] jtlapp commented on #34
What I'm saying is pretty simple. The following right causes the process to exit with an exception:

[code]

The following does not cause the process to exit with an exception. Instead, what happens varies by circumstance, as I outlined above:

[code]

[2016-08-10 00:12] jtlapp commented on #34
I've created a [set of tests](https://github.com/jtlapp/tap-parser/tree/exception-tests) for this problem. Let me know if/when you'd like a PR.

[2016-08-10 00:18] jtlapp commented on #34
Belay that. I was expecting the 'comment' test to pass. Checking...

[2016-08-10 00:27] jtlapp commented on #34
Eeep! All that work, I just proved that `tap-parser` is functioning properly. Not sure the tests are valuable, but they are passing. I wonder my problem is in `tap`. I'm piping `tap` to `tap-parser`.

[2016-08-10 00:29] jtlapp commented on #34
I'm going to revise these test for `tap` piping to see what happens. Maybe they belong in `tap` instead.

[2016-08-10 00:36] jtlapp commented on #34
Would an error thrown by `tap-parser` cause `tap` to output another `not ok` while piping? And only when the exception occurs during an 'assert' event? Investigating...

[2016-08-10 04:19] jtlapp commented on #34
It has to be some sort of `tap`-`tap-parser` piping interaction problem. When I change my glob to synchronous, the second 'assert' event is not longer named for the prior exception and is instead labeled `test unfinished`.

I created a test suite for piping from `tap` to `tap-parser`, but the problem is not recreating in isolation from my tool. I'm closing this until I better understand what's goi

[2016-08-10 04:19] #34 closed

[2016-08-10 07:31] isaacs commented on #34
That makes much more sense.

Because `tap` is a test runner (and not just a producer of TAP output), it's designed to work in some very hazardous situations and try to give you as much data as possible.

That means that if you throw an error in the context of a tap test, yes, it will catch it and fail the test.  (This is required, for example, if you wish to use any of a variety of fancy assertion

[2016-08-10 07:41] #35 closed

[2016-08-10 11:50] Jameskmonger opened #36 "Failing test in basic.js"
A test in basic.js appears to be failing, [causing the Travis build to fail](https://travis-ci.org/tapjs/tap-parser/jobs/151142456).

[code]

The above is from `npm test` (or `tap test/basic.js`), but when I run `node test/basic.js` I get the following output:

[code]

[2016-08-10 11:51] Jameskmonger commented on #36
@isaacs Any idea what might be causing this?

[2016-08-10 12:59] jtlapp commented on #34
Ah, I failed to consider that `tap` might have to try to report exceptions with additional assertions. I was hoping that it might be possible to separate pipe-related exceptions from exceptions thrown within the test code.

I decided to handle this by wrapping each of my `tap-parser` event handlers in a try-catch block. If an error occurs, I write the stack to stderr and `process.exit(1)`.

This d

[2016-08-10 13:09] jtlapp commented on #34
So here's how I'm dealing with it. All my `tap-parser` event handlers looks like this:

[code]

[code]

[2016-08-10 13:13] jtlapp commented on #34
You know, this behavior could be built into `tap-parser` and optionally turned on.

[2016-08-10 15:47] isaacs commented on #36
@Jameskmonger I can't get this to fail locally, but it's really weird.  It's like it's getting that there's a plan of `1..3` but only seeing 2 of the tests.  Since the plan is the second to last line, after all the test blocks, it can't be that it's truncating the output.

If you have it reliably failing locally, can you try running this?

[code]

That should post the output as raw TAP so we can s

[2016-08-10 16:10] evanlucas commented on #36
I *think* I'm seeing this locally in my own project as well. It seems like tap doesn't like nested tests anymore? fwiw, `npm install tap-parser@1.2` fixes the issues for me

[2016-08-10 16:14] isaacs commented on #36
@evanlucas: What version of tap are you using?  `npm ls tap`

[2016-08-10 16:15] evanlucas commented on #36
6.3.0 (tap-parser@1.3.1) and sorry to hijack this issue :]

[2016-08-10 16:17] isaacs commented on #36
@evanlucas: It's fine :)  Do you have a link to the tests?  What version of node/os/etc?

[2016-08-10 16:18] evanlucas commented on #36
Here is a reduced test case:

It seems to only happen when you have child tests and the parent uses `t.plan()` if that helps
[code]

Node: v6.3.1
OS: Mac OS X 10.11.6

[2016-08-10 16:19] isaacs commented on #36
Ah, i can reproduce on Linux.  Will dig into this :)

[2016-08-10 16:19] evanlucas commented on #36
cool, thanks!

[2016-08-10 16:34] isaacs commented on #36
It's definitely a regression in the parser that came about as a result of adding support for non-indented `# Subtest: <name>` directives.  But it only seems to happen on some systems, so I wonder if it's some kind of timing issue.

For now, I tagged tap-parser@1.2.2 as `latest`, so it'll stop biting people.  I'll hopefully have a fix soon-ish.  Unindented Subtest directives are a lot better to wor

[2016-08-10 16:34] evanlucas commented on #36
thanks @isaacs!

[2016-08-10 17:04] isaacs commented on #36
Ok, I see the problem.

The parser as of 1.3.0 allows for a not-indented `# Subtest: <name>` directive, and Test2 "buffered" style subtests.

The problem is that I was treating the indented subtest directives and not-indented subtest directives using the same logic.  So, when tap "helpfully" emits a data event on the child proc's stdout, the child test's parser read that as a sub-subtest, and it m

[2016-08-10 17:07] isaacs commented on #27
Removing these things means that you have to add them back in synthetically if you ever want the raw data.

Whenever I have parsers that nest, I invariably find myself in a position where I want to pass data up or down the hierarchy, so I tend to avoid that sort of trimming as a general rule.

It seems like an unnecessary breaking change.  Do you have a use case for it?

[2016-08-11 02:04] rmg commented on #36
Unfortunately, `tap` depends on tap-parser@^1.2.2 so it's still pulling in tap-parser@1.3.1 :-(

Now I've got some tests that work when you do `node some-test.js` or `node some-test.js | tap` but fail if you run `tap some-test.js`. It's very weird behaviour! I spent 2 hours trying to debug it before remembering node-tap switched to using this module (boo!), and then about 10 seconds to find this i

[2016-08-12 08:28] isaacs commented on #36
Things _should_ be working fine again, after some rather kludgey publishes and orphaned-branch git reworking.

The "move forward" solution will be a major version bump, making it so that the `Subtest` comment directives aren't strictly required at all, so it'll work no matter where they are (or if they're omitted).

[2016-08-12 08:29] #36 closed

[2016-08-18 04:47] isaacs commented on #25
Fixed in v2.

[2016-08-18 07:44] #23 closed

[2016-08-18 07:44] #25 closed

[2016-08-18 22:31] isaacs commented on #35
Supported properly on v2

[2016-08-18 22:32] isaacs commented on #27
(happy to reopen, just closing for now because it needs some additional justification before accepting)

[2016-08-18 22:32] #27 closed

[2016-08-31 04:46] jtlapp opened #38 "Should a failed tearDown create an anonymous test?"
`tap-parser` 2.0.0 breaks my `tearDown()` solution. Consider the following test:

[code]

This test calls bailout during tear down. I know you weren't sure you wanted to support this, but how else should `tap-parser` handle a failure to tear down a test? A failed tear-down almost certainly compromises the remaining tests. I have forgotten why I came to the conclusion that the only way to know when

[2016-08-31 06:10] jtlapp commented on #38
I think it's a mistake to try to infer subtest boundaries. You may never surface from that rabbit hole. It's fine to have anonymous subtests, but I think `tap` has to explicitly demarcate them.

Have you tried writing an EBNF for TAP with subtests? Doing so would force you to face and resolve the ambiguities.

[2016-08-31 06:24] jtlapp commented on #38
I believe I need `tearDown()` because I otherwise don't know when asynchronous tests have ended. I did successfully override ``Test::end()`` once upon a time, but that was some seriously fragile monkey-patching, and I'm not keen on doing it that way.

I really think it has to be possible for a generic clean-up function to terminate the test run.

[2016-08-31 15:07] jtlapp commented on #38
I've temporarily resolved all my problems by adjusting the output of `tap` 7.0.0 to be compatible with `tap-parser` 1.2.2. I'm not sure I know how to upgrade to `tap-parser` 2.0.0.

[2016-09-07 21:19] isaacs commented on #38
Upgrading to tap-parser 2 is easy.  `npm install tap-parser@latest --save`

Seems like this patch would fix the issue?  I agree that the output here is a little bit weird.

[code]

Script:

[code]

Before:

[code]

After:

[code]

Here's how the parser interprets the indent:

[code]

[2016-09-07 21:29] jtlapp commented on #38
Nice! Thank you sooooo much! I'll give it a shot.

Ha, I meant that I didn't know how to both upgrade my tool to tap-parser 2 and still have it function. But thank you for another demonstration of infinite patience!

I've been working on a cool plugin assertion for tap. It facilitates making easy-to-debug test suites for test runners as well as more generally comparing long text documents with min

[2016-09-07 22:11] isaacs commented on #38
I'm going to close this issue, because the parser is doing the right thing.  It's node-tap that's producing weird output.

[2016-09-07 22:11] #38 closed

[2016-09-22 22:43] Jameskmonger opened #40 "Emit values even if they're 0"
I think we should emit `fail`, `todo` and `skip` on `complete` all the time, even if they're falsy.

That way it's easier to consume the event because you don't need to check for undefined when consuming it. It also makes the object schema a bit more consistent.

What do you guys think? @isaacs @sindresorhus @ljharb

[2016-09-22 23:13] isaacs commented on #40
Seems reasonable to me.  I think the only reason they're emitted is to reduce noise when they're output in yaml by harnesses.  But that'd usually only happen on failure, so it's fine.

[2016-09-22 23:34] Jameskmonger commented on #40
Great @isaacs

Would be a lot easier if I could do this:

    parser.on("complete", results => {
        let totals = {
            pass: results.pass,
            fail: results.pass,
            skip: results.skip + results.todo
        };
    });

Rather than:

    parser.on("complete", results => {
        let totals = {
            pass: results.pass,
            fail: results.pass || 0,

[2016-09-22 23:51] isaacs commented on #40
Agreed!  Patch welcome.  Should be pretty straightforward.

[2016-10-03 19:11] m59peacemaker commented on #22
A little off topic, but I just want to make you guys aware of this in case it helps. I wrote a TAP13 spec compliant tap parser that's easier to understand and more modular.  https://github.com/m59peacemaker/node-tap-parser Let me know if I can do anything with it to help your goals and the community.

[2016-11-18 09:07] Tokimon opened #42 "Support of Streams2 and/or Streams3"
Hi

I am a happy user of `tap-parser` but recently I tried to use [duplexer2](https://github.com/deoxxa/duplexer2) to combine the parser with a readable stream, using it from a script, and then it doesn't call the 'complete' event once the tests are done.
I suspect it is because the "old" stream is used:

[code]

Is there a way to either use latest streams version with backwards comparability? or

[2016-11-21 21:02] Jameskmonger commented on #40
@isaacs this has been submitted for PR in #44

[2016-11-22 10:04] Jameskmonger commented on #40
Closed by #44, thanks @isaacs

[2016-11-22 10:04] #40 closed

[2016-11-22 13:29] Jameskmonger opened #45 "Readme outdated"
As part of #44, I didn't update the readme so it reads

    { ok: true, count: 4, pass: 4, plan: { start: 1, end: 4 } }

as the output. This is no longer accurate.

[2016-11-22 13:29] Jameskmonger commented on #45
@isaacs Is this worth updating?

[2017-01-29 20:58] derhuerst commented on #42
bump. (: @Tokimon what did you end up using?

[2017-02-10 05:59] ORESoftware opened #47 "looking for use case example - consuming stdout / stderr streams from child process"
hello @isaacs and co

basically looking to do something like this:

[code]

is a streaming usage like the one above possible with this module?
I would like print/use the results as they come in, in a streaming fashion.

[2017-02-10 08:08] isaacs commented on #47
https://github.com/tapjs/tap-parser#ponassert-function-assert-

[code]

[2017-02-10 08:08] #47 closed

[2017-02-10 08:10] isaacs commented on #47
(Note that you can also run non-JS programs with [tap](http://node-tap.org) if they are executable and have a shebang line.)

[2017-02-10 08:12] ORESoftware commented on #47
got it thanks, I was expecting something like

`dest.on('pass')` or `dest.on('fail')` but I guess I don't know TAP that well.

[2017-02-10 08:13] isaacs commented on #45
Nah, it's fine.

[2017-02-10 08:13] #45 closed

[2017-02-10 08:18] ORESoftware commented on #47
one more question @isaacs - you ever seen any problems with parsing streams with data chunks that don't represent the complete line, etc? I assume you handle that as best you can. I feel like it's mostly up to programming language's std libs to get that right.

[2017-02-10 18:09] isaacs commented on #47
It's fine.  You can write it all at once, or one byte at a time, or anything in between.  https://github.com/tapjs/tap-parser/blob/master/index.js#L343-L351

[2017-02-11 23:43] ORESoftware commented on #47
thanks, one more question for you maestro - I assume all tap output should be written to stdout - there's not reason tap output would ever be written to stderr. Is that assumption correct?

[2017-02-12 09:01] ORESoftware opened #48 "TAP complete event (FinalResults object) yields data that is basically empty and I don't know why"
I get this console output from my program using tap-parser:

[code]

however, several 'assert ok' events went through this same parser...I assume that the parser itself is what keeps track of the number of pass/fails, otherwise I don't know why the parser complete event would report the accumulated data...here's my code:

[code]

for this `parser() `instance, several `testpoint.ok` events have tak

[2017-02-12 09:14] ORESoftware commented on #48
as an aside, sorry for the dumb TAP questions -

is the output from the 'complete' event (aka the `FinalResults` object) ever intended to be input for another process? Or is that just for human consumption?

[2017-02-13 23:05] isaacs commented on #47
This is really way off topic for this repo.

From tap-parser's point of view, you put text into it, and it spits out events based on that text being a TAP stream.  It doesn't care if it's stdout, stderr, a file you're reading, an HTTP connection, etc.  It's just text -> events.

From _[node-tap](http://npm.im/tap)_'s point of view, yeah, it spawns child processes that output TAP data to stdout, th

[2017-02-13 23:12] the1mills commented on #47
Well ultimately Isaac my question was - by convention all tap output from child processes should come via stdout and none from stderr? Is that generally true? Not too off topic is it?

[2017-02-14 00:47] isaacs commented on #47
@the1mills This repo is for the parser.  The parser doesn't care where the data comes from.

By convention, yes, most tap frameworks write test output to stdout.

[2017-02-15 07:58] zusamann opened #49 "Support table syntax [moved]"
moved to https://github.com/tapjs/node-tap/issues/350

[2017-02-15 07:59] #49 closed

[2017-02-16 09:32] ORESoftware opened #50 "TAP output (stdout) from child process does not always reach parent process"
I opened this issue with Node:

https://github.com/nodejs/node/issues/11415

It's a common issue I think.  TBVH I was always afraid of this problem - that stdout would not reach the parent, or that it would be unreliable.

Have you seen this problem and discovered any solutions to it?

[2017-02-16 09:45] ORESoftware commented on #50
Ok I think I have a solution, looks like I was exiting before tap-parser had a chance to parser everything, so my solution is akin to:

[code]

now it seems to work

[2017-02-16 09:46] #50 closed

[2017-02-23 16:36] epoberezkin opened #51 "Passed tests"
Failed tests are included in the parsed output in 'failures' field.

Can we add 'successes' field to include all passed tests with their objects?

[2017-06-07 20:03] gabrielcsapo opened #53 "best way to get all output"
I am trying to find the best way to aggregate all the children and parent level plans and assertions and it seems to be proving not very fruitful when making sure that the `tape` and `tap` outputs are the same

[code]

which will output

[code]

and fails to output anything for tap....

[2017-06-07 20:04] gabrielcsapo commented on #53
@isaacs do you have any input on how to get overall data output for both tap and tape?

[2017-06-08 20:29] isaacs commented on #53
This isn't the complete program, so it's challenging for me to figure out what yo'ure trying to do, where the data is coming from, etc.

Maybe take a look at (or just use) the `tap-parser` bin script included with this package?

[code]

Run `tap-parser --help` to output the options.

[2017-06-08 20:29] #53 closed

[2017-06-08 20:32] isaacs commented on #48
With that input, I get a complete results object with plenty of interesting data.  It reports that there were 4 passes, and 1 fail for "missing plan".

[code]

(Same effect using the parser stream programmatically, just showing using the cli for clarity.)

[2017-06-08 20:32] #48 closed

[2017-06-08 20:34] gabrielcsapo commented on #53
@isaacs the code is located https://github.com/gabrielcsapo/tap-html/blob/master/index.js. I didn't have it published when I opened the issue

[2017-06-08 20:34] isaacs commented on #51
Why not just listen to the `assert` event?  What's the use case for this?

[2017-06-08 20:36] isaacs commented on #42
I don't really understand the request here.  The parser itself is a Writable stream.  You can pipe pretty much any Readable stream into it.  The `complete` event comes after `parser.end()` is called.

[2017-06-08 20:37] isaacs commented on #42
That is, it supports Streams2 and Streams3 from Node.js core, or anything compatible with core streams.

[2017-06-09 00:26] epoberezkin commented on #51
It's just seems easier to process in callback, once all results are parsed. It's possible for failures but not for successes

Whenever test results are used to maintain some state. In my case, failure creates an issue, success closes an issue (in [tap-github-issues](https://github.com/MailOnline/tap-github-issues) package)

[2017-06-09 20:55] isaacs commented on #51
@epoberezkin Thanks!  That does make sense.  You could definitely do this by acting on each event as it comes in, but you'd probably have to switch from a yield-based system to a async/await type deal.  I can see how it's easier to just wait for it all to be done in this case.

[2017-06-09 21:05] isaacs commented on #51
Landed on latest release.  Thanks!

[2017-06-09 21:05] #51 closed

[2017-06-10 19:27] epoberezkin commented on #51
@isaacs thank you!

[2017-06-12 06:31] ORESoftware commented on #51
mucho bueno 👍

[2017-06-14 08:34] Tokimon commented on #42
This question derived from a misunderstanding on how to use the stream in this context. I ended up using `child_process.spawn()` to bind the stream together and get the correct output. I just tried to do everything 'in-code', which didn't really work. So this is not really any issue anymore.

[2017-06-20 18:36] ORESoftware opened #54 "TypeScript typings for TapJS and/or tap-parser"
Hey :)

I tried this

`npm install -D @types/tap-parser`

to no avail. Is there a way to get typings for this package? What's the best way

I am definitely looking for a TypeScript definition for "testpoint":

[code]

thx

[2017-06-20 21:32] ORESoftware opened #55 "Stubbed/skipped results appear, but cannot figure out why"
I am seeing this final output, with  "tap-parser": "^5.4.0"

[code]

what perplexes me is that I see 2 for both stubbed and skipped, yet this is what I have:

[code]

With these thrown errors, I am like 99.99% certain that no todo/skip events are happening. Am I just misinterpreting the output? I am no TAP expert.

thanks :)

[2017-06-22 01:29] ORESoftware commented on #55
any word on this bird? This one seems really strange, and I am still seeing it.

[2017-07-05 03:20] ORESoftware opened #56 "Bug report - Stubbed result / todo:true is not registering."
By bug report I mean "potential bug" report

I am investigating to see why a stubbed test is not being marked as "todo".

I have this output result:

[code]

So there are two problems I see - the first problem is that two test cases have the same id, that seems wrong. I have 3 test cases and 3 individual `Result` objects, so having dupe ids seems like a legit problem.

The second problem I see is

[2017-07-07 04:44] gabrielcsapo commented on #53
@isaacs would you be able to look at this again?

[2017-07-16 01:24] ORESoftware commented on #56
Looking to bump this issue.

I fixed a bug with the library I have and now the ids are incremented properly, but I still see same problem:

[code]

I believe that for testpoint with id 3, that the `# STUBBED -` bit should get parsed out, and the testpoint object should be marked as `todo:true`.

If there's anything clearly amiss, given the info provided, please let me know. Otherwise, I will try t

[2017-07-16 23:14] gabrielcsapo opened #57 "changelog / release history"
Is there a changelog for v6.0.0?

[2017-07-30 17:39] ORESoftware opened #58 "How to capture errors from testpoint data"
@isaacs

A failed testpoint object looks like so:

`Result { ok: false, id: 2, name: 'yes' }`

However, there is no "reason" or "error" saying why the testpoint resolved to false.

A tap parser instance will parse the stdout from some connected process, and create an object like so from the stdout. However, my question is, if there is an error trace associated with this test failure, how can we ca

[2017-07-30 21:17] ORESoftware commented on #58
...as well as errors, also looking to capture other information about tests, including how long the test took, but I guess TAP does not include the time information or the error that produced the test failure. I guess JSON would be better for including that information as opposed to the original TAP protocol.

[2017-07-31 16:00] isaacs commented on #58
If the test has yaml diagnostics, then they'll be parsed and attached to the Result object.

[code]

[2017-07-31 16:00] #58 closed

[2017-07-31 16:15] ORESoftware commented on #58
Ok thanks, so we'd have to include newline delimited yaml on the same line as each assertion.

[2017-07-31 19:37] ORESoftware commented on #58
So I am looking for an example of how to include diagnostics in stdout. Something like this:

console.log('ok 1 foo # SKIP');
console.log('# `some yaml goes here`');
console.log('# `some more yaml goes here`');
console.log('# `some more more yaml goes here`');
console.log('# `some more more more yaml goes here`');

Is that correct? I doubt it. The reason I doubt it, is that it is unclear how the k

[2017-08-02 01:11] ORESoftware commented on #58
Ok yeah, I am looking at this too
https://testanything.org/tap-version-13-specification.html

and it seems to be congruent with what you describe. So this yaml output is really supposed to be on separate lines eh?

Do you @isaacs happen to know if there is a node.js module that can produce yaml diagnostic output given a JS object? that would be a nice-to-have around here.

[2017-10-12 17:24] epoberezkin opened #59 "Parser stops consuming lines if stdin is slow"
Running

[code]

consistently stops consuming lines somewhere mid-way after couple of thousands lines.

This always works ok:

[code]

@isaacs any idea how to investigate would be helpful.

[2017-10-14 14:43] epoberezkin commented on #59
Ok, so it is caused by calling `process.exit(0)` in the app that produces tap output.

With and without `process.exit(0)` this works correctly:

[code]

Piping only works without process.exit():

[code]

I don't think it's the issue of this package, but maybe somebody knows why?

[2017-10-14 14:45] epoberezkin commented on #59
Seems related: https://github.com/nodejs/node/issues/9633

[2017-10-14 15:01] epoberezkin commented on #59
ok, so process.exit kills output and writing to file works because it is faster.

[2017-10-14 15:01] #59 closed

[2019-01-06 23:18] bastien-roucaries opened #62 "patch: avoid buffer() warning"
Hi,

Could you apply this patch:
[code]

[2019-01-29 22:13] DanielRuf opened #63 "Current project status"
Hi, what is the current status of this project? Is it still maintained?

[2019-06-16 06:51] 3cp opened #64 "assert relies on stream end when plan line is at beginning"
A standard code copied from README, only added log on events "plan", "line" and "assert".

This is my `pp.js`
[code]

If you cat a file to this program, it runs fine, but if you feed input from stdin line by line (manually by keyboard), you can see the "assert" strangely waits for stream end. I have this issue in my use case because my input stream never ends, and I need to use tap-parser "assert"

[2019-06-16 06:52] 3cp commented on #64
Note, if plan line is after all result lines, tap-parser has no such issue.

[2019-08-07 19:38] gregorskii opened #65 "Child Parsers emit complete before assertions are emitted"
Hi all,

I am working on a project where grouping results by subtest is preferred. I am finding that it is quite difficult to track and group assertions by subtests starting and ending.

The parser will correctly emit a child parser, but the child parser itself does not emit assertions / pass / fails that it finds. It also emits its "complete" event before the assertions are emitted from the top l

[2019-08-07 20:20] ORESoftware commented on #63
it's maintained, maybe not as much in the last 18 months, but it's used by tapjs so it's being used heavily

[2019-08-15 22:03] Munter opened #66 "Directives not matched correctly"
I have a case there my test name contains an `#`, which tap-parser parses as if the directive starts at this first `#`. I have a case where that logic fails because my directive comes later.

Example:

[code]

The TAP specification only ever mentions `SKIP` and `TODO` directives as having this exact syntax `# SKIP` or `# TODO`, so a `#` followed by a space, followed by the directive.

tap-parser d

[2019-12-08 10:35] revelt opened #68 "[docs] - let's advise how to parse JSON.parse style - string-in, object-out"
Hi all,

Thank you for making the Tap ecosystem. I have a newbie-related readme suggestion; please excuse any ignorance from my side.

Currently we allude this is The Parser:

![meaning](https://user-images.githubusercontent.com/8344688/70387811-947efa00-19a1-11ea-9d27-13bf56322942.png)

But this program seems to me like a terminal-oriented parser, not aimed at Node scripting, à la `JSON.parse`, "

[2019-12-30 16:37] coreyfarrell commented on #62
Would you mind opening a PR?

[2019-12-30 16:45] coreyfarrell commented on #63
Definitely maintained and critical to tapjs.  In addition to `t.spawn()` using this to interpret output from the testing of the child process this module is core to the process of producing nice output from tap tests (instead of raw tap output).

[2019-12-30 16:45] #63 closed

[2019-12-30 16:46] DanielRuf commented on #63
Thanks for the clarification.

[2020-06-21 20:45] isaacs commented on #68
So, what you're asking for is somewhat at odds with the nature of how TAP works.  It is a line-based streaming protocol, not an object serialization notation.

We could pretty easily create a static method to "parse" a string into the array of events and arguments that is output by default by `bin/cmd.js`, and in the other direction, turn such a nested array into a TAP string.  Since the bin has a

[2020-06-21 22:40] isaacs commented on #64
The issue is that this is valid TAP:

[code]

And so is this:

[code]

And you can even put a comment right in the midst of all that jazz:

[code]

So, it has to wait until it finds something that is definitely the end of the assertion.  Since diagnostics might be coming after the assertion line, it has to wait for that.  Since a buffered child test might be coming after the diagnostics, it has to

[2020-06-21 22:40] #64 closed

[2020-06-21 22:43] isaacs commented on #56
Only `# SKIP` and `# TODO` are defined by the TAP specification.  `# time=[0-9]+ms` is a nonstandard addition that this library supports.  `# STUBBED` isn't a thing, sorry.  So that just gets lumped into the name of the assertion.

The IDs are the same because they're the same in the TAP stream.  This is a parser, it's telling you what it parsed.  An argument could be made that it ought to get ups

[2020-06-21 22:43] #56 closed

[2020-06-21 22:45] #42 closed

[2020-06-21 22:45] #22 closed

[2020-06-21 22:46] #66 closed

[2020-06-21 22:46] #68 closed

[2020-06-21 22:47] 3cp commented on #64
Thanks for the details!

[2020-06-21 22:53] isaacs commented on #65
I think you probably want to be using the `complete` event rather than the stream `end` event.  The `end` event is simply signifying that all of the input has been consumed and thus no more should be written, but the processing of that input happens _after_ it's been consumed.

Something like this: https://gist.github.com/isaacs/e4cd8a418372e5a15235e33347de8d06

We could defer `end` events until a

[2020-06-21 22:53] #65 closed

[2020-06-21 22:54] isaacs commented on #62
Fixed by 1734727

[2020-06-21 22:54] #62 closed

[2020-06-21 22:55] isaacs commented on #55
Ancient.

[2020-06-21 22:55] #55 closed

[2020-06-21 23:00] isaacs commented on #54
I have not investigated how to get typings for this package.

As with node-tap, I'm happy to accept a pull request that adds type information, provided:

1. The type information covers the public API completely.
2. There is a test which will fail if the API surface changes without updating the type information.  (Adding a devDep on typescript is fine.  Adding more work than running `npm test` is n

[2020-06-21 23:00] #54 closed

[2020-06-22 06:32] Raynos commented on #22
Thanks @isaacs for all your hard work on TAP 🎉

[2020-07-19 17:49] dramirez42 commented on #68
Thanks for adding this! I could use this in a project I'm working on. Any chance a new release including this could get published to npm?

[2020-07-19 18:51] revelt commented on #68
@dramirez42 since original posting I wrote [tap-parse-string-to-object](https://www.npmjs.com/package/tap-parse-string-to-object) — it's not comprehensive, it's aimed at extracting total [counts](https://gitlab.com/codsen/codsen/-/blob/master/stats/compiledAssertionCounts.json) but maybe it will do?

[2020-07-22 01:30] isaacs commented on #68
Oh, whoops, I'd forgotten to push it, I guess.  Published now as 10.1.

[2021-01-20 23:18] mdeltito opened #77 "tap-parser command exits before flushing"
If the parsed tap input contains failures, it will forcibly exit the process with `process.exit(1)` before all output is flushed.

This is evident when piping `tap-parser` output to other programs, and likely only on [POSIX systems](https://nodejs.org/api/process.html#process_a_note_on_process_i_o) where `process.stdout` is asynchronous. Here is a minimal reproduction case:

**test.js**
[code]
**p

[2022-03-05 06:36] #77 closed